<phpunit bootstrap="bootstrap.php"
         stopOnFailure="true"
>
    <php>
        <env name="KERNEL_CLASS" value="AppKernel" />
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak"/>

        <!-- SaferPay API test credentials -->
        <env name="SAFERPAY_API_TEST_USERNAME" value="api_login"/>
        <env name="SAFERPAY_API_TEST_PASSWORD" value="api_password"/>
    </php>
    <testsuites>
        <testsuite name="Unit">
            <directory>.</directory>
        </testsuite>
    </testsuites>
</phpunit>
